@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply dark: bg-slate-800;
  }

  body {
    @apply grid gap-y-2 lg: container lg:mx-auto dark:bg-slate-950;
    grid-template-columns: 280px 1fr 1fr;
    grid-template-rows: min-content 1fr min-content;

  }

  aside,
  header {
    @apply bg-indigo-900 dark: bg-indigo-950 p-1 text-slate-100 flex
  }

  aside {
    @apply col-span-1 row-start-2 me-4 flex-col hidden lg: flex;

  }

  main {
    @apply p-2 text-black lg: col-start-2 row-start-2 h-screen col-span-3 lg:col-span-2 dark:bg-slate-900 dark:bg-slate-900 dark:text-slate-100 rounded;

  }

  footer {

    @apply bg-gray-800 text-center content-center items-center text-slate-100 dark: bg-slate-900 p-8 text-sm col-span-3 row-start-3 font-light;

  }


  header {
    @apply center justify-between col-start-1 col-span-3 row-start-1 p-2 after: flex text-xl;

  }

  hr {
    @apply my-2 bg-slate-500 opacity-25
  }

  button,
  input {
    @apply focus: ring-blue-500/50 focus:border-blue-500 focus:outline-none focus:ring-1 focus:ring-blue-500 dark:focus:ring-blue-800
  }

  button {
    @apply text-white bg-blue-700 hover: bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none
  }

  input[type="text"] {
    @apply block w-full p-1 pl-10 text-sm text-slate-900 border border-slate-300 rounded-lg bg-slate-50 dark: bg-gray-700 dark:border-gray-600 dark:placeholder-slate-400 dark:text-white dark:focus:border-blue-500;
  }


}

@layer components {
  .icon {
    @apply rounded-full hover: text-slate-400 p-2 text-slate-100 h-10 w-10 hover:bg-gray-100/25;
    cursor: pointer;
  }



  .center {
    @apply flex items-center content-center
  }
}