@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply dark:bg-slate-900 
  }
  
  body {
    @apply grid min-h-screen    grid-cols-[60px_1fr_min-content]   grid-rows-[60px_max-content_min-content]    
      lg:container dark:bg-slate-950 lg:mx-auto lg:grid-cols-[280px_1fr] lg:gap-y-2  
      text-gray-900 dark:text-gray-500 
  }

  a{ @apply hover:text-primary  hover:dark:text-white}

  header {
    @apply text-gray-100 col-start-1  col-end-[-1] row-start-1 grid select-none   grid-cols-[48px_1fr_48px_48px_48px] 
     bg-blue-700  child:row-start-1 dark:bg-slate-900 h-full  px-1 items-center
  } 

 
  footer {
    @apply center  flex-col col-span-3  row-start-[-1]   border-t-2 border-slate-500/50 p-4  
    font-light shadow dark:border-slate-500/10  lg:flex-row  lg:child:m-0 lg:justify-between lg:my-4  child:m-2 p-4
  }
  
  aside {
    @apply col-span-1 row-start-2 row-end-[-2] me-4 hidden select-none  flex-col dark:bg-slate-900   lg:flex;
  }

  nav {
    @apply   flex flex-col child:m-1 child:w-full  child:border-b child:border-gray-500/10 child:px-2 child:py-2;
  }
 
  nav a{ @apply hover:text-white}


 
  input[type="text"],
  [type="email"],
  [type="number"],
  textarea {
    @apply input  w-full;
  }

  button[type="submit"] {
    @apply btn-primary;
  }
  button[type="reset"] {
    @apply btn border border-gray-800 text-gray-900
   before:content-['отмена']   enabled:hover:bg-gray-900  enabled:hover:text-white dark:border-gray-600
   dark:text-gray-400 enabled:dark:hover:bg-gray-600 enabled:dark:hover:text-white;
  }
}
@layer components { 

 
  .icon { 
    @apply center dark:text-gray-500  text-white hover:text-gray-100 m-1 h-10  
    w-10 cursor-pointer rounded-xl       hover:bg-gray-50/10  
     dark:hover:bg-gray-500/10  dark:hover:text-white child:w-6 child:h-6; 
  }

  .btn {
    @apply center col-span-2  select-none  gap-2  rounded-md 
     p-2 font-semibold disabled:opacity-25;
  }
  .btn-primary {
    @apply btn  gap-2 bg-primary text-white enabled:hover:bg-primary_light;
  }
 
  .center {
    @apply flex content-center items-center justify-center;
  }
  .z_mode {
    @apply fixed left-0 top-0 z-20 h-full  w-full;
  }

  .input {
    @apply block rounded-lg border-2 border-gray-300 bg-gray-50 p-1.5 text-sm  text-gray-900
    shadow outline-none hover:border-primary hover:shadow-lg focus:border-primary_light
     focus:ring-primary dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400
      hover:dark:bg-gray-600 dark:focus:border-primary_dark
     dark:focus:ring-primary_light;
  } 
}
 