@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply dark:bg-slate-900;
  }

  body {
    @apply    grid min-h-screen   lg:mx-auto   lg:grid-cols-[280px_1fr]  lg:gap-y-2  
      grid-cols-[60px_1fr] grid-rows-[min-content_max-content_min-content] text-gray-900 lg:container dark:bg-slate-950 dark:text-gray-500     
  }
  header {
    @apply grid  grid-cols-[48px_1fr_48px_48px_48px] p-2 pe-4 select-none   dark:bg-slate-900 
     col-end-[-1]  col-start-1  row-start-1   bg-blue-700 child:row-start-1
  }

  aside {
    @apply   col-span-1 row-start-2 me-4 hidden flex-col  lg:flex select-none   dark:bg-slate-900;;
  }
  nav{ @apply flex flex-col child:px-2 child:m-1 child:w-full  child:py-2 child:border-b child:border-gray-500/10 }

 nav a{ 
  @apply hover:bg-slate-200/10 active:hover:bg-slate-200/20
 }

  main {
    @apply col-end-[-1] row-start-2 h-full min-h-screen   rounded   p-2   lg:col-start-2 lg:dark:bg-slate-900;
  }

  footer {
    @apply center col-span-3  row-start-[-1]   border-t-2 border-slate-500/50 p-4 text-center 
    text-sm font-light shadow dark:border-slate-500/10  lg:my-4;
  }

  

  hr {
    @apply my-2 bg-gray-500 opacity-25;
  }

  input[type="text"],
  [type="email"],
  [type="number"],
  textarea {
    @apply input  w-full;
  }

  a {
    @apply !inline-flex hover:text-blue-500 hover:dark:text-gray-50;
  }

  button[type="submit"] {
    @apply btn-primary;
  }
  button[type="reset"] {
    @apply btn border border-gray-800 text-gray-900
   before:content-['отмена']   enabled:hover:bg-gray-900  enabled:hover:text-white dark:border-gray-600
   dark:text-gray-400 enabled:dark:hover:bg-gray-600 enabled:dark:hover:text-white;
  }
}
@layer components {
  .icon {
    @apply center m-3 h-10 w-10    cursor-pointer rounded-xl p-2  text-gray-50    hover:bg-gray-50/10 dark:text-gray-500 
     dark:hover:bg-gray-500/10  dark:hover:text-gray-100;
  }

  .btn {
    @apply center col-span-2  select-none  gap-2  rounded-md 
     p-2 font-semibold disabled:opacity-25;
  }
  .btn-primary {
    @apply btn  gap-2 bg-primary text-white enabled:hover:bg-primary_light;
  }

  .menu a {
    @apply border-b border-gray-500/10 hover:bg-slate-500/10 focus:bg-slate-500/5;
  }

  .center {
    @apply flex content-center items-center justify-center;
  }
  .z_mode {
    @apply fixed left-0 top-0 z-20 h-full  w-full;
  }

  .input {
    @apply block rounded-lg border-2 border-gray-300 bg-gray-50 p-1.5 text-sm  text-gray-900
    shadow outline-none hover:border-primary hover:shadow-lg focus:border-primary_light
     focus:ring-primary dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400
      hover:dark:bg-gray-600 dark:focus:border-primary_dark
     dark:focus:ring-primary_light;
  }
}
